In [2]:
import sys
from math import sqrt
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn import ensemble
from sklearn import linear_model as lm
from sklearn.metrics import mean_squared_error as mse
import xgboost as xgb
import datetime

In [3]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [10]:
data_confirmed = pd.read_csv('data/time_series-ncov-Confirmed.csv')
data_deaths = pd.read_csv('data/time_series-ncov-Deaths.csv')
data_recovered = pd.read_csv('data/time_series-ncov-Recovered.csv')

In [11]:
data_confirmed.head()

,Province/State,Country/Region,Lat,Long,Date,Value
0,#adm1+name,#country+name,#geo+lat,#geo+lon,#date,#affected+infected+value+num
1,NaN,Afghanistan,33,65,2020-03-20,24
2,NaN,Afghanistan,33,65,2020-03-19,22
3,NaN,Afghanistan,33,65,2020-03-18,22
4,NaN,Afghanistan,33,65,2020-03-17,22

In [12]:
data_deaths.head()

,Province/State,Country/Region,Lat,Long,Date,Value
0,#adm1+name,#country+name,#geo+lat,#geo+lon,#date,#affected+killed+value+num
1,NaN,Afghanistan,33,65,2020-03-20,0
2,NaN,Afghanistan,33,65,2020-03-19,0
3,NaN,Afghanistan,33,65,2020-03-18,0
4,NaN,Afghanistan,33,65,2020-03-17,0

In [13]:
data_recovered.head()

,Province/State,Country/Region,Lat,Long,Date,Value
0,#adm1+name,#country+name,#geo+lat,#geo+lon,#date,#affected+recovered+value+num
1,NaN,Afghanistan,33,65,2020-03-20,1
2,NaN,Afghanistan,33,65,2020-03-19,1
3,NaN,Afghanistan,33,65,2020-03-18,1
4,NaN,Afghanistan,33,65,2020-03-17,1

In [14]:
data_confirmed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28144 entries, 0 to 28143
Data columns (total 6 columns):
Province/State    19117 non-null object
Country/Region    28144 non-null object
Lat               28144 non-null object
Long              28144 non-null object
Date              28144 non-null object
Value             28144 non-null object
dtypes: object(6)
memory usage: 1.3+ MB

In [19]:
data_confirmed[pd.isnull(data_confirmed['Province/State'])]

      Province/State Country/Region  Lat Long        Date Value
1                NaN    Afghanistan   33   65  2020-03-20    24
2                NaN    Afghanistan   33   65  2020-03-19    22
3                NaN    Afghanistan   33   65  2020-03-18    22
4                NaN    Afghanistan   33   65  2020-03-17    22
5                NaN    Afghanistan   33   65  2020-03-16    21
6                NaN    Afghanistan   33   65  2020-03-15    16
7                NaN    Afghanistan   33   65  2020-03-14    11
8                NaN    Afghanistan   33   65  2020-03-13     7
9                NaN    Afghanistan   33   65  2020-03-12     7
10               NaN    Afghanistan   33   65  2020-03-11     7
11               NaN    Afghanistan   33   65  2020-03-10     5
12               NaN    Afghanistan   33   65  2020-03-09     4
13               NaN    Afghanistan   33   65  2020-03-08     4
14               NaN    Afghanistan   33   65  2020-03-07     1
15               NaN    Afghanistan   33   65  2020-03-06     1
16               NaN    Afghanistan   33   65  2020-03-05     1
17               NaN    Afghanistan   33   65  2020-03-04     1
18               NaN    Afghanistan   33   65  2020-03-03     1
19               NaN    Afghanistan   33   65  2020-03-02     1
20               NaN    Afghanistan   33   65  2020-03-01     1
21               NaN    Afghanistan   33   65  2020-02-29     1
22               NaN    Afghanistan   33   65  2020-02-28     1
23               NaN    Afghanistan   33   65  2020-02-27     1
24               NaN    Afghanistan   33   65  2020-02-26     1
25               NaN    Afghanistan   33   65  2020-02-25     1
26               NaN    Afghanistan   33   65  2020-02-24     1
27               NaN    Afghanistan   33   65  2020-02-23     0
28               NaN    Afghanistan   33   65  2020-02-22     0
29               NaN    Afghanistan   33   65  2020-02-21     0
30               NaN    Afghanistan   33   65  2020-02-20     0
...              ...            ...  ...  ...         ...   ...
28114            NaN       Zimbabwe  -20   30  2020-02-20     0
28115            NaN       Zimbabwe  -20   30  2020-02-19     0
28116            NaN       Zimbabwe  -20   30  2020-02-18     0
28117            NaN       Zimbabwe  -20   30  2020-02-17     0
28118            NaN       Zimbabwe  -20   30  2020-02-16     0
28119            NaN       Zimbabwe  -20   30  2020-02-15     0
28120            NaN       Zimbabwe  -20   30  2020-02-14     0
28121            NaN       Zimbabwe  -20   30  2020-02-13     0
28122            NaN       Zimbabwe  -20   30  2020-02-12     0
28123            NaN       Zimbabwe  -20   30  2020-02-11     0
28124            NaN       Zimbabwe  -20   30  2020-02-10     0
28125            NaN       Zimbabwe  -20   30  2020-02-09     0
28126            NaN       Zimbabwe  -20   30  2020-02-08     0
28127            NaN       Zimbabwe  -20   30  2020-02-07     0
28128            NaN       Zimbabwe  -20   30  2020-02-06     0
28129            NaN       Zimbabwe  -20   30  2020-02-05     0
28130            NaN       Zimbabwe  -20   30  2020-02-04     0
28131            NaN       Zimbabwe  -20   30  2020-02-03     0
28132            NaN       Zimbabwe  -20   30  2020-02-02     0
28133            NaN       Zimbabwe  -20   30  2020-02-01     0
28134            NaN       Zimbabwe  -20   30  2020-01-31     0
28135            NaN       Zimbabwe  -20   30  2020-01-30     0
28136            NaN       Zimbabwe  -20   30  2020-01-29     0
28137            NaN       Zimbabwe  -20   30  2020-01-28     0
28138            NaN       Zimbabwe  -20   30  2020-01-27     0
28139            NaN       Zimbabwe  -20   30  2020-01-26     0
28140            NaN       Zimbabwe  -20   30  2020-01-25     0
28141            NaN       Zimbabwe  -20   30  2020-01-24     0
28142            NaN       Zimbabwe  -20   30  2020-01-23     0
28143            NaN       Zimbabwe  -20   30  2020-01-22     0

[9027 rows x 6 columns]

In [ ]:
## Grouping Data on Country level (neglecting )